html {
  background-color: slategrey;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* #test-canvas {
  background-color: teal;
  border-radius: 2rem;
} */
