/* root is leftover styles from the vite starter code */
:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5; /* ! */
	font-weight: 400; /* ! */

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--scoreColor: rgba(17, 68, 105, 0.87);
	--shadow: rgb(226, 217, 197);
}

html,
body {
	margin: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
	/* min-height: 100vh; */
	height: 100%;
}

header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	height: 3rem;
	/* height: 60px;  */
}

.arena {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.lane {
	display: flex;
	width: 100vw;
	height: auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hill {
	position: relative;
  	text-align: center;
	height: 500px;
	width: 100%;
}

.hill img {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
	width: 100%;
}

.trench {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-column-start: 1;
	grid-column-end: 3;
	justify-content: space-evenly;
	/* width: 100vw;
	height: 40vw; */
}

.cardHolder {
	width: 100px;
	height: 150px;
}

.card {
	width: 100%;
	height: 100%;
	background-color: transparent;
	perspective: 1000px;
}

.card-inside {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.5s;
	transform-style: preserve-3d;
}

.card:hover .card-inside {
	transform: rotateY(180deg);
}

.card-front,
.card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	border-radius: 8%;
	justify-content: center;
	align-content: center;
	font-size: xx-large;
	font-family: cursive;
}

.card-front {
	background-color: goldenrod;
	color: black;
}

.card-back {
	background-color: aliceblue;
	color: black;
	transform: rotateY(180deg);
}

.singleCardView {
	width: 100vh;
	height: 180px;
	display: none;
}

.cardViewFooter {
	align-self: flex-end;
}

/* Some more leftover styles from the vite starter code */

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

.scoreDisplay {
	display: flex;
	color: var(--scoreColor);
	font-size: 50px;
	font-weight: bold;
	text-shadow: 3px 0px 7px var(--shadow), 
	  -3px 0px 7px var(--shadow), 
	  0px 4px 7px var(--shadow);
}

#oppHill {
	position: absolute;
	top: 53px;
	left: calc(50% - 12px);
}

#playerHill {
	position: absolute;
	bottom: 53px;
	left: calc(50% - 12px);
}

