/* root is leftover styles from the vite starter code */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5; /* ! */
  font-weight: 400; /* ! */

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --scoreColor: rgba(17, 68, 105, 0.87);
  --shadow: rgb(226, 217, 197);
}

html,
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* min-height: 100vh; */
  height: 100%;
  background-image: url('public/assets/Backgrounds/Background2.png');
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    height: 4rem; 
    background-color: #1a1a1a;
}

.turn-indicator {
    flex-grow: 1; 
    display: flex;
    justify-content: center; 
    align-items: center;
    color: white;
    font-size: 1.2rem;
	font-size: 2rem;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.arena {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.lane {
  display: flex;
  width: 100vw;
  height: 720px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hill {
  position: relative;
  text-align: center;
  height: 100%;
  width: 100%;
}

.hill img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  margin: 30px 0px 30px 0px;
}

.trench {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-start: 1;
  grid-column-end: 3;
  justify-content: space-evenly;
  z-index: 2;
  /* width: 100vw;
	height: 40vw; */
}

.trench .cardHolder:hover {
  transform: scale(2);
}

.cardHolder {
  width: 100px;
  height: 150px;
  margin: 0px 10px 0px 10px;
  transition: transform 0.2s;
}

.card {
  width: 100%;
  height: 100%;
  background-color: transparent;
  perspective: 1000px;
}

.card-inside {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;

  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8%;
  justify-content: center;
  align-content: center;
  font-size: xx-large;
  font-family: "Papyrus", fantasy;
}

.card-front > ul {
  padding-left: 0;
}

.card-front > ul > li {
  list-style-type: none;
  color: black;
  font-size: small;
  padding: 15px;
}

.card-back {
  transform: rotateY(180deg);
}

.singleCardView {
  width: 100vh;
  height: 180px;
  display: none;
}

.cardViewFooter {
  align-self: flex-end;
}

/* Some more leftover styles from the vite starter code */

header button {
	height: 3em;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 5px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.scoreDisplay {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  top: 50%;
  transform: translateY(-50%);
  color: var(--scoreColor);
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 3px 0px 7px var(--shadow), -3px 0px 7px var(--shadow),
    0px 4px 7px var(--shadow);
}

#oppHill {
  position: relative;
  bottom: 80px;
  font-size: 3rem;
}

#playerHill {
  position: relative;
  top: 17px;
  font-size: 3rem;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.action-buttons button {
  margin-bottom: 10px;
}
